
@{
    ViewBag.Title = "Dev_Help";
}

<h2>Dev_Help</h2>
<p>
    Для просмотра данных нажмите на любую кнопку просмотра.
    Для редактирования данных выберите необходимую таблицу.
    Для удаления данных выберите таблицу и нажмите на кнопку удаления (не все данные можно удалить).
    Для импорта в Excel откройте нужную таблицу и нажмите на кнопку импорта.
    Для редактирования/удаления аккаунта откройте соответствующие таблицы.
    Можно изменить кол-во копий игровых предметов через кнопку редактирования.
    При редактировании можно не заполнять все поля.
</p>
