
@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/Dev_Layout.cshtml";
}

<h2>Developer</h2>

<div class="row">
    <div class="col-md-3">
        <p>
            Просмотр игр.
        </p>
        <p>@Html.ActionLink("Игры", "Index", "Игры", new { id = ViewBag.id, role = "developer" }, null)</p>
    </div>
    <div class="col-md-3">
        <p>
            Просмотр игровых предметов.
        </p>
        <p>@Html.ActionLink("Игровые предметы", "Index", "Предметы_из_игр", new { id = ViewBag.id, role = "developer" }, null)</p>
    </div>
    <div class="col-md-3">
        <p>
            Просмотр заказов.
        </p>
        <p>@Html.ActionLink("Заказы", "Index", "Чек", new { id = ViewBag.id, role = "developer" }, null)</p>
    </div>
</div>