@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>

<p>
    Введите логин и/или пароль аккаунта. У администратора пароль: admin.
    У разработчика логин - название фирмы, например: 3_Test, пароль - developer.
    У владельца логин - название фирмы, например: 3_Beta, пароль - trader.
    P.S. При редактировании данных значения поле с датой должны иметь вид "дд/мм/гггг".
</p>
