@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Log in as Administrator.
        </p>
        <p>@Html.ActionLink("Administrator", "Administrator", "Home")</p>
    </div>
    <div class="col-md-4">
        <p>
            Log in as Developer.
        </p>
        <p>@Html.ActionLink("Developer", "Developer", "Home")</p>
    </div>
    <div class="col-md-4">
        <p>
            Log in as Trader.
        </p>
        <p>@Html.ActionLink("Trader", "Trader", "Home")</p>
    </div>
</div>