
@{
    ViewBag.Title = "Trade_Help";
}

<h2>Trade_Help</h2>
<p>
    Для просмотра данных нажмите на любую кнопку просмотра.
    Для импорта в Excel откройте нужную таблицу и нажмите на кнопку импорта.
    Для редактирования/удаления аккаунта откройте соответствующие таблицы.
    Можно изменить кол-во копий игровых предметов через кнопку редактирования.
    При редактировании можно не заполнять все поля.
    Для покупки игрового предмета выберите его, введите кол-во копий для покупки и нажмите на кнопку.
    Внимание: нельзя покупать предметов больше, чем есть в наличии.
</p>
