@model Game_items_selling_web.Models.Платформы

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Платформы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Платформа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Платформа)
        </dd>

    </dl>
</div>

