@model Game_items_selling_web.Models.Жанры

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Жанры</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Жанр)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Жанр)
        </dd>

    </dl>
</div>

